<h1><%=@identity.name%></h1>

<h3><%=@identity.data%></h3>

<h4><%=@identity.type%></h4>

<dl>
	<dt>Authorizations</dt>
	<dd><%=@identity.authorizations_count%></dd>
	
	<dt>Rejections</dt>
	<dd><%=@identity.rejections_count%></dd>
</dl>