<ul>

<% form_for @resource do |f| %>
	
	<li>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</li>
	
	<li>
		<%=f.label :description %>
		<%= f.text_field :description %>
	</li>
	
	<li>
		<%=f.label :is_guarded %>
		<%=f.check_box :is_guarded%>
	</li>
	
	<li>
		<%=f.label :utilization_code %>
		<%=f.text_area :utilization_code %>
	</li>
	
	<li>
		<%=f.label :completion_code %>
		<%=f.text_area :completion_code %>
	</li>
	
	<li>
		<%=f.label :utilization_length %>
		<%=f.text_field :utilization_length %>
	</li>

	<%= f.submit %>
<% end %>

</ul>