<% content_for :head do %>
	<script src="http://<%=request.host%>:8080/application.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	  var jug = new Juggernaut;
	  jug.subscribe('/resources/<%=@resource.id%>/log', function(data){
	    console.log("Got log: " + data);
		$('#resource_log').append('<p>' + data + '</p>');
	  });
	  jug.subscribe('/resources/<%=@resource.id%>/status', function(data){
	    console.log("Got utilization status: " + data);
		switch(data) {
			case 'utilizing':
				$('body').css('background-color','green');
				$('#dashboard-status').html('<%=@resource.names[:open]%>');
				break;
			case 'not-utilizing':
				$('body').css('background-color','#EBEBEB');
				$('#dashboard-status').html('<%=@resource.names[:closed]%>');
				break;
		}
	  });
	</script>
<% end %>

<h1 id="dashboard-title"><%=@resource.name%></h1>

<h2 id="dashboard-status"><%=@resource.currently_utilizing ? @resource.names[:open] : @resource.names[:closed]%></h2>

<div id="resource_log">
</div>