<h1><%=@resource.name%></h1>

<% if @resource.can_utilize?(current_user.identities.first) then %>
You <strong>can</strong> utilize this resource. <%=link_to 'Utilize it!', utilize_resource_path(@resource)%>

<%  if @resource.currently_utilizing then %>
	This resource is currently being utilized.
	<%=link_to 'Close it.', close_resource_path(@resource) %>
<% else %>
	<%=link_to 'Open it.', open_resource_path(@resource) unless @resource.currently_utilizing %>
<% end %>

<% end %>

<% if current_user.admin then %>
	<%=render :partial => 'form' %>

	<h4>Permissions</h4>
	<%=link_to 'New Permission', new_permission_path(:resource_id => @resource.id) %>
<% end %>