<!DOCTYPE html>
<html>
<head>
  <title>Receptionist</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <%= csrf_meta_tag %>

	<%= yield :head %>

</head>
<body>

	<div id="header">
		<div id="header-content">
			<h1><%=link_to 'Receptionist', root_path %></h1>
		</div>
	</div>
	<div id="navbar">
		<div id="navbar-content">

			<div class="user-info">
				<% if current_user then %>
					Welcome back, <strong><%=link_to current_user.to_s, user_path %>.</strong>
					<%=link_to 'Sign Out', destroy_user_session_path %>
				<% else %>
					<%=link_to 'Create Account', new_user_registration_path %> |
					<%=link_to 'Sign In', new_user_session_path %>
				<% end %>
			</div>
			<br class="clear" />
		</div>
	</div>
	<div id="flashes">
		<% if flash[:notice] then %><p class="notice"><%=flash[:notice]%></p><% end %>
		<% if flash[:alert] then %><p class="alert"><%=flash[:alert]%></p><% end %>
		<% if flash[:error] then %><p class="error"><%=flash[:error]%></p><% end %>
	</div>
	<div id="body">
		<%= yield %>
	</div>

</body>
</html>
