<!DOCTYPE html>
<html>
<head>
  <title>Receptionist</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <%= csrf_meta_tag %>

	<%= yield :head %>

</head>
<body>

	<div id="header">
		<div id="header-content">
			<h1><%=link_to 'Receptionist', root_path %></h1>
		</div>
	</div>
	<div id="navbar">
		<div id="navbar-content">

			<div class="user-info">
				<% if current_user then %>
					Welcome back, <%=link_to (current_user ? current_user.email : 'you!'), user_path %>.
					<%=link_to 'Sign Out', destroy_user_session_path %>
				<% else %>
					<%=link_to 'Create Account', new_user_registration_path %> |
					<%=link_to 'Sign In', new_user_session_path %>
				<% end %>
			</div>
			<br class="clear" />
		</div>
	</div>
	<div id="body">
		<%= yield %>
	</div>

</body>
</html>
